.tabs-content {
  .nav-bar {
    height: 45px;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    .bar-box{
      height: 100%;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .main {
    max-width: 750px;
    height: calc(100vh - 45px);
    margin: 0 auto;
    overflow-y: auto;
    background-color: rgb(231, 235, 240);

    .width90 {
      width: 90%;
      margin: auto;
    }
  }
}